<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.0/vue.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
예시<br/>
어떤 나라에 대한 정보가 있나요?<br>
미국으로 유학갈래요<br/>
오늘은 몇일이지?<br/><br/>
<div id="example-2">
  <div v-for="(item, index) in items" style="width:450px;">
	<div style="text-align:left" v-if="item.gubun == 'Q'">[[ item.message ]]</div>
	<div style="text-align:right" v-else>[[ item.message ]]</div>
  </div>
</div>
<script>
var example2 = new Vue({
  el: '#example-2',
  delimiters: ['[[', ']]'],
  data: {
    items: []
  }
});

function setDialog() {
	var user_message = document.getElementById("input_user_message").value;
	example2._data.items.push({gubun:'Q',message:user_message});

	$.ajax({
            url : "/chatbot/message/",
            type : "post",
            data : {'csrfmiddlewaretoken':"{{ csrf_token }}"
		 ,'message':user_message},
            success : function(data) {
				alert(data.action)
				document.getElementById("input_user_message").value = "";
				example2._data.items.push({gubun:'A', message:data.main_message});
				if(data.action == 'outer_retrieve') {
					example2._data.items.push({gubun:'A', message:data.outer_retrieve});
				}
				if(data.action == 'outer_response') {
					example2._data.items.push({gubun:'A', message:data.outer_response});
				}
				document.getElementById("input_user_message").focus();
            },
            error : function(request, status, error) {
                alert("code:" + request.status + "\n" + "error:" + error);
            }
        });
}

window.onload=function()
{
	document.getElementById("input_user_message").focus();
}
</script>
<input type="text" id="input_user_message" name="input_user_message" onkeyup="if(event.keyCode==13){setDialog();}">
